body{
			background-color: gray;
			align: center;
		}
		h3{
			color: yellow;
			background-color: green;
			align: center;
		}
		h2{
			color: black;
			background-color: white;
			align: center;
		}
		#cabeca{
			font-size: 40px;
			color: white;
			background-color: black;
			align: center;
		}
		input{
			font-size: 25px;
			background-color: rgb(230,230,230);
		}
		
		#botao{
		  background-color: black;
		  color: white;
		  font-size: 40px;
		  padding: 4px;
		}
		
		
		td{
			font-size: 14pt;
			border: 2px solid #606060;
			border-spacing: 2px;
			padding: 4px;
			background-color: silver;
			
		}
		.titulo{
			font-size: 16pt;
			background-color: gray;
		}
		select{
			font-size: 25px;
			background-color: rgb(230,230,230);
		}
		select.tipo{
			font-size: 25pt;
			border: 2px solid ;
			border-spacing: 2px;
			padding: 4px;				
		}
		label{
			background-color: white;
			font-size: 25pt;
			padding: 4px;
			cursor: pointer;
			border: 2px solid #606060;
			border-spacing: 2px;
	}
		.radio{
			transform: scale(2);
		}
		input{
			cursor:pointer;
		}
